{%extends "lab_base/html.html"%}


{%block main_header_auth%}
{%endblock%}

{%block html_css%}
{{block.super}}
<style>
    .login_app {
        padding: 10px;
    }

    .login_app th, .login_app td {
        text-align: left;
        padding: 5px;
        min-width: 100px;
        font-size: 20px;
        color:#333;
    }

    .login_app input{
        font-size: 20px;
    }
</style>

{%endblock%}


{%block main_center%}
{{block.super}}
<div class="login_app">
    <form action="/members/login/" method="post" enctype="multipart/form-data">
       {%csrf_token%}
        {{login_form.as_p}}
        <input type="submit" value="Login">
    </form>

</div>
{%endblock%}